[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
image = "*"
pillow = "*"
argh = "*"
glob2 = "*"
opencv-python-headless = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
